.hamburger-menu {
  display: none;
}

.logout {
  cursor: pointer;
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sidebar-wrapper {
  background: white;
  width: 25%;
  border-top-right-radius: var(--border-2xl);
  border-bottom-right-radius: var(--border-2xl);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar-logo {
  width: 15rem;
  height: 15rem;
  align-self: center;
}

.sidebar-logo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  flex: 1;
}

.sidebar-navigation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 3rem;
  margin-bottom: 3rem;
  border-top: 1px solid #ceede5;
  border-bottom: 1px solid #ceede5;
  flex: 1;
}

.sidebar-navigation-item {
  cursor: pointer;
  border-radius: var(--border-sm);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
}

.sidebar-logout {
  cursor: pointer;
  border-radius: var(--border-sm);
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sidebar-navigation-item:hover,
.sidebar-logout:hover {
  background-color: var(--background-secondary);
}

@media screen and (max-width: 1000px) {
  .sidebar-wrapper {
    width: 100%;
    flex-direction: row;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--border-2xl);
  }
  .sidebar-content {
    flex-direction: row;
  }

  .sidebar-navigation {
    border: none;
    justify-content: center;
    align-items: flex-end;
  }

  .sidebar-logo {
    width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .hamburger-menu {
    display: flex;
  }
  .sidebar-wrapper {
    justify-content: flex-end;
  }

  .sidebar-content {
    display: none;
  }

  .sidebar-logout {
    display: none;
  }
}
