.upload-file-input {
  border: 3px dashed var(--text-primary);
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  text-align: center;
  align-self: center;
  width: 100%;
}

.upload-file-input__icon {
  color: var(--text-primary);
}

.upload-file-input__text {
  font-size: 20px;
  font-family: MontserratMedium, sans-serif;
}

.upload-asset {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.preview {
  max-width: 300px;
  max-height: 300px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.dashboard-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.dashboard-filters {
  display: flex;
  gap: 1rem;
  align-items: stretch;
  margin-block: 2rem;
  padding-block: 2rem;
  border-top: 1px solid var(--text-primary);
  border-bottom: 1px solid var(--text-primary);
  flex-wrap: wrap;
}

.dashboard-filters > * {
  flex: 1 1 200px; /* grow, shrink, base width 200px */
  min-width: 0; /* IMPORTANT for react-select */
  height: 38px;
}

/* Buttons shrink to fit their content */
.dashboard-filters > button {
  flex: 0 0 auto; /* don't grow, don't shrink beyond content */
  height: 38px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container {
  display: block;
  height: 100%;
}

.react-datepicker__input-container input {
  height: 100%;
  width: 100%;
  padding-left: 0.5rem;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
}

.datepicker-popper {
  z-index: 9999;
}

@media screen and (max-width: 1200px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 750px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }

  .upload-file-input__text {
    font-size: 16px;
  }
}
