.modal-overlay {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal-background-blur {
  filter: blur(5px);
  width: 100vw;
  height: 100vh;
  background-color: var(--backgroundBlur);
}

.modal-container {
  border-radius: 10px;
  width: 60%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  background: var(--background-secondary);
  padding: 1rem 2rem;
  gap: 1rem;
}

.dummy-element {
  width: 25px;
  height: 25px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.modal-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-button-close {
  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .modal-container {
    width: 90%;
  }
}
