/* variables */
:root {
  /* main colors */
  --primary: #235347;
  --secondary: #193f36;
  --background: #fff;
  --background-secondary: #eff6f4;
  --background-modal-primary: #c9ded9;
  /* gray */
  --lightGray: #ebe8e8;
  --darkGray: #b5c6c2;
  /* text colors */
  --heading-primary: #235347;
  --text-primary: #222e50;
  --text-secondary: #fff;
  --text-button: #235347;
  /* button */
  --button-primary: #00d09c;
  --button-secondary: #eff6f4;
  --button-text-primary: #fff;
  --button-toggle: #00d09c;
  /* other */
  --input-background: #fff;
  --input-text: #222e50;
  --dark: #1a1f33;
  --white: #ffffff;
  --success: #4caf50;
  --warning: #ffc107;
  --danger: #a92835;
  --backgroundBlur: rgba(250, 250, 250, 0.88);
  /*  border radius */
  --border-sm: 0.25rem;
  --border-md: 0.375rem;
  --border-lg: 0.5rem;
  --border-xl: 0.75rem;
  --border-2xl: 1rem;
  --border-3xl: 1.5rem;
  --border-full: 100%;
}